<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<nav class="sidebar responsive ace-save-state" role="navigation" th:fragment="navigation">
        <input id="gritter-light" checked="" type="checkbox" class="ace ace-switch ace-switch-5"/>
        <ul class="nav nav-list">
            <li class="" pagekey="home">
                <a  href="/">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 主页1 </span>
                </a>
                <b class="arrow"></b>
            </li>

            <li class="">
                <!--class="active open"-->
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text">
								权限管理
							</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li  class="" pagekey="dept">
                        <a th:href="@{/sys/dept/dept.page}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            部门管理
                        </a>
                    </li>
                    <li  class="" pagekey="acl">
                        <a th:href="@{/sys/aclModule/acl.page}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            权限管理
                        </a>
                    </li>
                    <li  class="" pagekey="role">
                        <a th:href="@{/sys/role/role.page}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            角色管理
                        </a>
                    </li>
                    <li  class="" pagekey="log">
                        <a th:href="@{/sys/log/log.page}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            权限操作记录
                        </a>
                    </li>

                </ul>
            </li>
        </ul>

    </nav>
</body>

</html>




