<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>权限模块</title>

	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/font-awesome/4.5.0/css/font-awesome.min.css}" />

	<!-- page specific plugin styles -->
	<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.custom.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/chosen.min.css}" />

	<!-- text fonts -->
	<link rel="stylesheet" th:href="@{/assets/css/fonts.googleapis.com.css}" />

	<!-- ace styles -->
	<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" th:class="ace-main-stylesheet" th:id="main-ace-style" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" th:href="@{/assets/css/ace-part2.min.css}" th:class="ace-main-stylesheet" />
	<![endif]-->
	<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" th:href="assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script th:src="@{/assets/js/ace-extra.min.js}"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script th:src="@{/assets/js/html5shiv.min.js}"></script>
	<script th:src="@{/assets/js/respond.min.js}"></script>
	<![endif]-->
</head>

<body class="no-skin">
<!--top 导航栏-->
<div  class="navbar navbar-default ace-save-state" th:include="navbar :: navebar"></div>

<div class="main-container ace-save-state" id="main-container">
	<script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
	</script>

	<!-- 菜单栏 -->
	<div id="sidebar" class="sidebar responsive ace-save-state" role="navigation" th:include="nav :: navigation"></div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<!-- <a href="#">Home</a> -->
						主页
					</li>
					<li class="active"  >模块管理</li>
				</ul><!-- /.breadcrumb -->

			</div>

			<div class="page-content">


				<div class="page-header">

				</div>
				<!-- /.page-header -->

				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="row">
							<div class="col-sm-4">
								<div class="table-header">
									权限列表
									<div class='pull-left action-buttons'>
										<a class='red' href='javascript:void(0);' onclick='addNewAclModal()'>
											<i class='ace-icon glyphicon glyphicon-plus bigger-130'></i>
										</a>
									</div>
								</div>
								<!--权限列表-->
								<div class="dd" id="nestable"  style="display: none"></div>
							</div>

							<div class="vspace-16-sm"></div>

							<div class="col-sm-8">

								<div class="table-header">
									权限点列表
									<div class='pull-left action-buttons'>
										<a class='red' href='javascript:void(0);' onclick='addOrdinate()'>
											<i class='ace-icon glyphicon glyphicon-plus bigger-130'></i>
										</a>
									</div>
								</div>
								<div>
									<table id="dynamic-table" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>

												<th>权限名称</th>
												<th>所属权限模块</th>
												<th class="hidden-480">类型</th>
												<th>URL</th>
												<th class="hidden-480">状态</th>
												<th class="hidden-480">顺序</th>
												<th>操作</th>
											</tr>
										</thead>
										<tbody id="userList">
										</tbody>
									</table>
								</div>

							</div>
						</div><!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->

			</div><!-- /.page-content -->
		</div>
	</div><!-- /.main-content -->

	<div class="footer" th:include="footer :: copyright" ></div>





	<!-- 模态框（Modal） 权限 -->
	<div class="modal fade" id="operatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						权限操作
					</h4>
				</div>
				<div class="modal-body">

					<form class="form-horizontal" role="form">
						<input id="deptId" type="hidden" value="0" data-optype=""/>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-name">
								权限模块名称：
							</label>
							<div class="col-sm-10" id="input_1">
								<input type="text" id="form-field-name" placeholder="请输入权限模块名称" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-select-parent">
								上级权限：
							</label>

							<div class="col-sm-10">
								<select class="chosen-select  " id="form-field-select-parent" data-placeholder="Choose a State..."></select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-seq">
								显示顺序：
							</label>
							<div class="col-sm-10" >
								<input type="text" id="form-field-seq" placeholder="请输入数字" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-remark">
								备注：
							</label>
							<div class="col-sm-10" >
								<input type="text" id="form-field-remark" placeholder="请输入部门备注" class="col-xs-10 col-sm-5" />
							</div>
						</div>


					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-default"  key="modalSureClose"
							data-dismiss="modal">
						取消
					</button>
					<button id="modalSureSubmit" type="button" class="btn btn-sm btn-primary"  key="modalSureSubmit"
							onclick="modalSubmit()" data-optype="">
						确定
					</button>
				</div>
			</div>
		</div>
	</div>


	<!-- 模态框（Modal） 用户 -->
	<div class="modal fade" id="operatModal_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_user" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel_user">
						权限点操作
					</h4>
				</div>
				<div class="modal-body">

					<form class="form-horizontal" role="form">
						<input id="sysUserId" type="hidden" value="0" data-optype="" data-deptid=""/>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-userName">
								名称：
							</label>
							<div class="col-sm-10" id="input_userName">
								<input type="text" id="form-field-userName" placeholder="请输入名称" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-select-userDept">
								所属权限模块：
							</label>
							<div class="col-sm-10">
								<select class="chosen-select  " id="form-field-select-userDept" data-placeholder="Choose a State...">

								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-select-acltype">
								类型：
							</label>
							<select class="chosen-select  " id="form-field-select-acltype" data-placeholder="Choose a State...">
									<option value="1">菜单</option>
									<option value="2">按钮</option>
									<option value="3">其他</option>
							</select>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-mail">
								URL：
							</label>
							<div class="col-sm-10" >
								<input type="text" id="form-field-mail" placeholder="请输入URL" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-status">
								状态：
							</label>
							<div class="col-sm-10" >
								<!--<input type="text" id="form-field-status" placeholder="请输入备注" class="col-xs-10 col-sm-5" />-->
								<input name="switch-field-1"  id="form-field-status" class="ace ace-switch ace-switch-4" type="checkbox" checked="checked"/>
								<span class="lbl"></span>
							</div>


						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-pointseq">
								顺序：
							</label>
							<div class="col-sm-10" >
								<input type="text" id="form-field-pointseq" placeholder="请输入顺序" class="col-xs-10 col-sm-5" />
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label no-padding-right" for="form-field-userremark">
								备注：
							</label>
							<div class="col-sm-10" >
								<input type="text" id="form-field-userremark" placeholder="请输入备注" class="col-xs-10 col-sm-5" />
							</div>
						</div>

					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-default"  key="modalSureClose"
							data-dismiss="modal">
						取消
					</button>
					<button id="modalSureSubmit_user" type="button" class="btn btn-sm btn-primary"
							onclick="modalSubmit_Ordinate()" data-optype="">
						确定
					</button>
				</div>
			</div>
		</div>
	</div>

</div><!-- /.main-container -->




<!-- basic scripts -->

<!--[if !IE]> -->
<script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
<![endif]-->


<script th:src="@{/assets/js/bootstrap.min.js}"></script>

<script th:src="@{/assets/js/chosen.jquery.min.js}"></script>

<!-- page specific plugin scripts -->
<script th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/jquery.dataTables.bootstrap.min.js}"></script>
<script th:src="@{/assets/js/dataTables.buttons.min.js}"></script>

<!--[if lte IE 8]>
<script th:src="@{/assets/js/excanvas.min.js}"></script>
<![endif]-->

<script th:src="@{/assets/js/jquery.nestable.min.js}"></script>
<!-- ace scripts -->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<script th:src="@{/vivo/common.js}"></script>





<script th:inline="javascript">

    /*<![CDATA[*/
    var pagekey = [[${pagekey}]] ;

    // var aclModuleList; // 存储树形部门列表
    var aclModuleMap = {}; // 存储map格式的部门信息
    var aclPointMap = {}; // 存储map格式的用户信息
	var optionHtml = "" ;
	var table  ;
	var initialDeptId = 1 ;
	var loadTreeUrl = "/sys/aclModule/tree.json" ;

    jQuery(function($){

        //激活菜单栏
		acvtiveMenu(pagekey) ;
        loadSubjectTree(loadTreeCallback,loadTreeUrl);

        table = $('#dynamic-table').DataTable({
            "lengthChange": false,
            "ordering": false,
            "searching": false,
            "deferRender": true,
            "oLanguage": {
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "前一页",
                    "sNext": "后一页",
                    "sLast": "尾页"
                },
                "sZeroRecords": "没有检索到数据",
            },
            "sAjaxSource": "/sys/acl/acl_page.json?aclModuleId="+initialDeptId,
            "columns": [
				{data:"name" },
				{data:"aclModuleId" },
				{data:"type"  , 'className':'hidden-480'},
				{data:"url" },
				{data:"status" , 'className':'hidden-480' },
				{data:"seq" , 'className':'hidden-480' },
				{data:"id"},
			],
            "columnDefs": [ {
                "targets": 6,
                "data": 'id',
                "render": function ( data, type, full, meta ) {
                    return "<td>" +
                        "<div class='hidden-sm hidden-xs action-buttons center'>" +
                        "<a class='green' href='javascript:void(0);' onclick='editOrdinate("+data+")'><i class='ace-icon fa fa-pencil bigger-130'></i></a>"+
                        "</div>" +
                        "</td>" ;
                }
            } ,{
                "targets": 4,
                "data": 'status',
                "render": function ( data, type, full, meta ) {
                    var status = "启用";
                    if("1" != data){
                        status="禁用";
					}
                    return "<td>" +status+"</td>" ;
                }
			},{
                "targets": 2,
                "data": 'type',
                "render": function ( data, type, full, meta ) {
                    var type = "菜单";
                    if("1" == data){
                        type="菜单";
                    }else if("2" == data){
                        type="按钮";
					}else {
                        type="其他";
					}
                    return "<td>" +type+"</td>" ;
                }
            },{
                "targets": 1,
                "data": 'deptId',
                "render": function ( data, type, full, meta ) {
                    // console.log("full",full);
                   var dept = aclModuleMap[data] ;
                    aclPointMap[full.id] = full ;
                    return "<td>" +dept.name+"</td>" ;
                }
			}]
        });
    });


    //新增右侧列表数据
    function addOrdinate() {
        restModalOrdinate();
        $("#operatModal_user").modal('show');
    }

    //修改右侧列表数据
    function editOrdinate(userId) {
        CopyOrdinateAttrs(userId) ;
        $("#operatModal_user").modal('show');

    }

    function addNewAclModal(){
	    console.log('addNew....');
        restModalAclModal();
	    $("#operatModal").modal('show');
	}

	function editDept(id){
        console.log("editDept : id="+id);
        CopyDeptAttrs(id) ;
        $("#operatModal").modal('show');
    }

    function delDept(id) {
        console.log("delDept : id="+id);
        $("#deptId").attr("data-optype",'delete') ;
        $("#deptId").val(id);
        if(confirm("确定删除,删除后不能恢复！！")){
            modalSubmit();
		}

    }

    function modalSubmit() {
		var dept = getDeptParam();
        var optype = $("#deptId").attr("data-optype") ;
        console.log("dept::" , JSON.stringify(dept));
        $.ajax({
            url: "/sys/aclModule/"+optype+".json",
			type:"POST",
			data:JSON.stringify(dept) ,
            contentType: "application/json; charset=utf-8",
            success : function (result) {
                // console.log(result);
                if(result.code == '0'){
                   location.reload();
                }else {
                    alert(result.msg);
                }
            }
        })
    }

    function modalSubmit_Ordinate() {
        var param = getOrdinateParam();
        var optype = $("#sysUserId").attr("data-optype") ;
        var pertainId = $("#sysUserId").attr("data-deptid");
        $.ajax({
            url: "/sys/acl/"+optype+".json",
            type:"POST",
            data:JSON.stringify(param) ,
            contentType: "application/json; charset=utf-8",
            success : function (result) {
                if(result.code == '0'){
                    table.ajax.url( "/sys/acl/acl_page.json?aclModuleId="+pertainId ).load();
                    $("#operatModal_user").modal('hide');
                }else {
                    alert(result.msg);
                }
            }
        })

    }

    //加载部门树结构json
    function loadSubjectTree(callback,url){
        $.ajax({
            url: url,
            success : function (result) {
                if(result.code == '0'){
                    console.log("开始调用回掉方法。。");
                    // aclModuleList =result.data ;
                    callback(result.data) ;
                }else {
                    alert(result.msg);
                }
            },
        })

    }


    /**
	 *
	 *请求数回掉函数
	 */
    var loadTreeCallback = function(data) {
        console.log("开始执行回掉方法。。");
        var htmlStr =  recursiveRenderSubject(data);

        $("#nestable").html(htmlStr);
        $("#form-field-select-parent").html("<option value='0'>请选择</option>"+optionHtml) ;
        $("#form-field-select-userDept").html("<option value='0'>请选择</option>"+optionHtml) ;
        $('.dd').nestable() ;
        initChosen();
        initNestable();

    }

    


    // 递归渲染部门树
    function recursiveRenderSubject(aclModuleList) {
        var htmlStr = "" ;
        if(aclModuleList && aclModuleList.length > 0) {
            htmlStr=htmlStr+"<ol class='dd-list'>";
            $(aclModuleList).each(function (i, aclModule) {
                htmlStr=htmlStr+"<li class='dd-item' data-id='"+aclModule.id+"'>" +
                    "<div class='dd-handle'   onclick='loadUserList("+aclModule.id+",this)'>"+aclModule.name
                    +"<div class='pull-right action-buttons' >" +
                    "<a class='blue' href='javascript:void(0)' onclick='editDept("+aclModule.id+")'><i class='ace-icon fa fa-pencil bigger-130'></i> </a>"+
                    "<a class='red' href='javascript:void(0)' onclick='delDept("+aclModule.id+")'><i class='ace-icon fa fa-trash-o bigger-130'></i></a>"
                    +"</div></div>"
                aclModuleMap[aclModule.id] = aclModule;
                // deptListOptions.push(dept);
                optionHtml=optionHtml+"<option value='"+aclModule.id+"'>"+aclModule.name+"</option>"

                if (aclModule.aclModuleList.length > 0) {
                    htmlStr=htmlStr+recursiveRenderSubject(aclModule.aclModuleList);
                }
                htmlStr=htmlStr+"</li>" ;
            })
            htmlStr=htmlStr+"</ol>";
        }
        return htmlStr ;
    }

    function loadUserList(deptId,obj) {
        console.log("deptId=="+deptId);
        $("#sysUserId").attr("data-deptid",deptId) ;
        table.ajax.url( "/sys/acl/acl_page.json?aclModuleId="+deptId ).load();
        setNestableClass(obj);
    }

    function setNestableClass(obj) {
        $("#nestable").find("div[class='dd-handle btn-yellow no-hover']").each(function (i,div) {
            $(this).removeClass("btn-yellow no-hover");
        });
        $(obj).addClass("btn-yellow no-hover");
    }




    //获取modal 参数对象
    function getDeptParam() {
        var dept = new Object() ;
        dept.id = $("#deptId").val();
        if(  'delete'==  $("#deptId").attr("data-optype")  ){
		}else {

            dept.name =  $("#form-field-name").val() ;
            dept.seq =   $("#form-field-seq").val() ;
            dept.remark =  $("#form-field-remark").val() ;
            dept.parentId = $("#form-field-select-parent").val()  ;
		}
        return dept ;
    }


    //重置 权限 modal
    function restModalAclModal() {
        $("#deptId").val(0) ;
        $("#deptId").attr("data-optype",'save') ;

        $("#form-field-name").val("") ;
        $("#form-field-seq").val("") ;
        $("#form-field-remark").val("") ;
        $("#form-field-select-parent").val(0) ;
        $("#form-field-select-parent").trigger("chosen:updated");
    }

    //拷贝部门属性到modal
    function CopyDeptAttrs(id) {
        var dept = aclModuleMap[id] ;
        // console.log("dept::" , dept.parentId);
        $("#deptId").val(dept.id) ;
        $("#deptId").attr("data-optype",'update') ;
        $("#form-field-name").val(dept.name) ;
        $("#form-field-seq").val(dept.seq) ;
        $("#form-field-remark").val(dept.remark) ;
        $("#form-field-select-parent").val(dept.parentId) ;
        $("#form-field-select-parent").trigger("chosen:updated");
    }

    //获取modal 用户参数对象
    function getOrdinateParam() {
        var param = new Object() ;
        param.id = $("#sysUserId").val();
        param.name =  $("#form-field-userName").val() ;
        param.url =  $("#form-field-mail").val() ;
        param.aclModuleId = $("#form-field-select-userDept").val()  ;
        param.type = $("#form-field-select-acltype").val()  ;
        param.remark = $("#form-field-userremark").val()  ;
        param.seq = $("#form-field-pointseq").val()  ;
        if($("#form-field-status").prop("checked")){
            param.status = 1 ;
        }else {
            param.status = 0 ;
        }
        return param ;
    }



    //重置 右侧 modal到数据
    function restModalOrdinate() {
        $("#sysUserId").val(0) ;
        $("#sysUserId").attr("data-optype",'save') ;

        $("#form-field-userName").val("") ;
        $("#form-field-mail").val("") ;
        $("#form-field-userremark").val("") ;
        $("#form-field-status").prop("checked","checked");
        $("#userDept").val(0) ;
        $("#form-field-pointseq").val(1) ;
        $("#form-field-select-acltype").val(1) ;
        $("#form-field-select-userDept").val(0) ;
        $("#form-field-select-userDept").trigger("chosen:updated");

    }

    //右侧列表：拷贝属性到modal
    function CopyOrdinateAttrs(id) {
        var user = aclPointMap[id];
        $("#sysUserId").val(id) ;
        $("#sysUserId").attr("data-optype",'update') ;
        $("#form-field-userName").val(user.name) ;
        $("#form-field-mail").val(user.url) ;
        $("#form-field-userremark").val(user.remark) ;
		if(user.status == 1 ){
            $("#form-field-status").prop("checked","checked");
		}else {
            $("#form-field-status").prop("checked",false);
		}
        $("#form-field-pointseq").val(user.seq) ;
        $("#form-field-select-acltype").val(user.type) ;
        $("#form-field-select-userDept").val(user.aclModuleId ) ;
        $("#form-field-select-userDept").trigger("chosen:updated");

    }





    /*]]>*/
</script>
</body>
</html>
