<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>Dashboard - Ace Admin</title>

	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/font-awesome/4.5.0/css/font-awesome.min.css}" />

	<!-- page specific plugin styles -->
	<link rel="stylesheet" th:href="@{/assets/css/jquery-ui.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/chosen.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap-treeview.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/jquery.gritter.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap-duallistbox.min.css}" />

	<!-- text fonts -->
	<link rel="stylesheet" th:href="@{/assets/css/fonts.googleapis.com.css}" />

	<!-- ace styles -->
	<link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" th:class="ace-main-stylesheet" th:id="main-ace-style" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" th:href="@{/assets/css/ace-part2.min.css}" th:class="ace-main-stylesheet" />
	<![endif]-->
	<link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" th:href="assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script th:src="@{/assets/js/ace-extra.min.js}"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script th:src="@{/assets/js/html5shiv.min.js}"></script>
	<script th:src="@{/assets/js/respond.min.js}"></script>
	<![endif]-->
</head>

<body class="no-skin">
<!--top 导航栏-->
<div  class="navbar navbar-default ace-save-state" th:include="navbar :: navebar"></div>


<div class="main-container ace-save-state" id="main-container">
	<script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
	</script>

	<!-- 菜单栏 -->
	<div id="sidebar" class="sidebar responsive ace-save-state" role="navigation" th:include="nav :: navigation"></div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<!-- <a href="#">Home</a> -->
						主页
					</li>
					<li class="active"  >角色管理</li>
				</ul><!-- /.breadcrumb -->

			</div>

			<div class="page-content">


				<div class="page-header">

				</div>
				<!-- /.page-header -->

				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->
						<div class="row">
							<div class="col-sm-4">
								<div class="table-header">
									角色列表
									<div class='pull-left action-buttons'>
										<a class='red' href="#" id="role_href">
											<i class='ace-icon glyphicon glyphicon-plus bigger-130'></i>
										</a>
									</div>
								</div>
								<!--角色列表-->
								<div class="dd"   >
									<ol class='dd-list' id="nestable"></ol>
								</div>
							</div>

							<div class="vspace-16-sm"></div>

							<div class="col-sm-8">
									<div class="tabbable"  >
										<ul class="nav nav-tabs" id="myTab">
											<li class="active">
												<a data-toggle="tab" href="#role_acl">角色与权限</a>
											</li>

											<li>
												<a data-toggle="tab" href="#role_user">角色与用户</a>
											</li>


										</ul>

										<div class="tab-content" style="min-height: 500px">
											<div id="role_acl" class="tab-pane fade in active">
												<div class="col-sm-8">
													<div id="treeview-checkable" class=""></div>
												</div>
												<div class="col-sm-4"  >

													<hr/>
													<p>
														<button class="btn btn-success btn-block" onclick="roleAclSave()">保存</button>
													</p>

												</div>

											</div>

											<div id="role_user" class="tab-pane fade " style="min-height: 500px">
                                                <p>
                                                    <select multiple="multiple" size="10" name="duallistbox[]" id="duallist"></select>
                                                </p>
                                                <hr/>
                                                <p>
                                                    <button class="btn btn-success btn-block" onclick="roleUserSave()">保存</button>
                                                </p>

											</div>


										</div>
								</div><!-- /.col -->

							</div>
						</div><!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->

			</div><!-- /.page-content -->
		</div>
	</div><!-- /.main-content -->

	<div class="footer" th:include="footer :: copyright" ></div>



	<div id="dialog_role" class="hide">


		<form class="form-horizontal" role="form">
			<input id="sysRoleId" type="hidden" value="0" data-optype="" data-opName="" />

			<div class="form-group">
				<label class="col-sm-4 control-label no-padding-right" for="form-field-rolename">
					名称：
				</label>
				<div class="col-sm-7" id="rolename_div">
					<input type="text" id="form-field-rolename" placeholder="请输入名称" class="col-xs-10 " />
				</div>
			</div>
			<div class="hr hr-12 hr-double"></div>
			<div class="form-group">
				<label class="col-sm-4 control-label no-padding-right" for="form-field-status">
					状态：
				</label>
				<div class="col-sm-7" id="rolestatus_div">
					<!--<input type="text" id="form-field-status" placeholder="请输入名称" class="col-xs-10 " />-->
					<input name="switch-field-1"  id="form-field-status" class="ace ace-switch ace-switch-4" type="checkbox" checked="checked"/>
					<span class="lbl"></span>
				</div>
			</div>
			<div class="hr hr-12 hr-double"></div>
			<div class="form-group">
				<label class="col-sm-4 control-label no-padding-right" for="form-field-rolename">
					备注：
				</label>
				<div class="col-sm-7" id="roleremark_div">
					<textarea type="text" id="form-field-roleremark" placeholder="请输入备注" class="col-xs-12" ></textarea>
				</div>
			</div>
		</form>

	</div>



</div><!-- /.main-container -->




<!-- basic scripts -->

<!--[if !IE]> -->
<script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
<![endif]-->


<script th:src="@{/assets/js/bootstrap.min.js}"></script>

<script th:src="@{/assets/js/chosen.jquery.min.js}"></script>


<!-- page specific plugin scripts -->
<script th:src="@{/assets/js/jquery.gritter.min.js}"></script>

<!--[if lte IE 8]>
<script th:src="@{/assets/js/excanvas.min.js}"></script>
<![endif]-->
<script th:src="@{/assets/js/jquery-ui.min.js}"></script>
<script th:src="@{/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/assets/js/jquery.nestable.min.js}"></script>
<script th:src="@{/assets/js/bootstrap-treeview.min.js}"></script>
<script th:src="@{/assets/js/jquery.bootstrap-duallistbox.min.js}"></script>

<!-- ace scripts -->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<script th:src="@{/vivo/common.js}"></script>





<script th:inline="javascript">

    /*<![CDATA[*/
    var pagekey = [[${pagekey}]] ;
    var roleMap = {}; // 存储map格式的角色信息
    var lastRoleId = -1 ;
	var treeView ;
	var aclModualData = new Array();
    var modulePrefix = 'm_';
    var aclPrefix = 'a_';

    var loadRoleListUrl = "/sys/role/list.json" ;

    var treeViewOptons = {
        data: [],
        showIcon: false,
        showCheckbox: true,
        onNodeChecked: function(event, node) {//选中节点
            var selectNodes = getChildNodeIdArr(node); //获取所有子节点
            if(selectNodes) { //子节点不为空，则选中所有子节点
                $('#treeview-checkable').treeview('checkNode', [selectNodes, { silent: true }]);
            }
            // $('#checkable-output').prepend('<p>' + node.text + ' was checked</p>');
        },
        onNodeUnchecked: function (event, node) {//取消选中节点
            var selectNodes = getChildNodeIdArr(node); //获取所有子节点
            if (selectNodes) { //子节点不为空，则取消选中所有子节点
                $('#treeview-checkable').treeview('uncheckNode', [selectNodes, { silent: true }]);
            }
            // $('#checkable-output').prepend('<p>' + node.text + ' was unchecked</p>');
        }
    }

    jQuery(function($){

        //激活菜单栏
		acvtiveMenu(pagekey) ;

		loadRoleList(loadListCallback , loadRoleListUrl);


		//modal 模态框初始化
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function(title) {
                var $title = this.options.title || '&nbsp;'
                if( ("title_html" in this.options) && this.options.title_html == true )
                    title.html($title);
                else title.text($title);
            }
        }));

        $("#role_href" ).on('click', function(e) {
            console.log('role_href click....');
            $("#sysRoleId").attr("data-optype",'save') ;
            $("#sysRoleId").attr("data-opName",'新增角色') ;
            $("#sysRoleId").val("0") ;
            $("#form-field-rolename").val("");
            $("#form-field-status").prop("checked","checked")
            $("#form-field-roleremark").val("");
            roleDilog(e);
        });


        //duallistbox 初始化
        // initDuallistbox();

    });

    function initDuallistbox(){
        $('select[name="duallistbox[]"]').bootstrapDualListbox('destroy');
        var demo1 = $('select[name="duallistbox[]"]').bootstrapDualListbox({infoTextFiltered: '<span class="label label-purple label-lg">Filtered</span>',
            selectorMinimalHeight:300,
            infoText:"共选中 {0} 项 "});
        var container1 = demo1.bootstrapDualListbox('getContainer');
        container1.find('.btn').addClass('btn-white btn-info btn-bold');
    }

    function roleUserSave() {

        if (lastRoleId == -1) {
            showMessage("保存角色与用户的关系", "请现在左侧选择需要操作的角色", false);
            return;
        }

        $.ajax({
            url: "/sys/role/changeUsers.json",
            data: {
                roleId: lastRoleId,
                userIds: $("#duallist").val() ? $("#duallist").val().join(",") : ''
            },
            type: 'POST',
            success: function (result) {
                if (result.code == '0') {
                    showMessage("保存角色与用户的关系", "操作成功", false);
                } else {
                    showMessage("保存角色与用户的关系", result.msg, false);
                }
            }
        });
    }


    //角色、权限 保存按钮
    function roleAclSave() {
        if (lastRoleId == -1) {
            showMessage("保存角色与权限点的关系", "请现在左侧选择需要操作的角色", false);
            return;
        }
        var aclIds = getCheckAclIds();
        console.log("aclIds",aclIds);

        $.ajax({
            url: "/sys/role/changeAcls.json",
            data: {
                roleId: lastRoleId,
                aclIds: aclIds
            },
            type: 'POST',
            success: function (result) {
                if (result.code == '0' ) {
                    showMessage("保存角色与权限点的关系", "操作成功", false);
                } else {
                    showMessage("保存角色与权限点的关系", result.msg, false);
                }
            }
        });
    }
    function getCheckAclIds() {
        var aclIds = "";
        var nodes = treeView.treeview('getChecked', 0);
        nodes.forEach(function (node) {
            if(node.id.startsWith(aclPrefix)) {
                // aclIds.push(node.id.substring(aclPrefix.length));
                aclIds +=   node.id.substring(aclPrefix.length) +"," ;
            }
		});
        return aclIds;

    }


    var getChildNodeIdArr =function(node) {
        var ts = [];
        if (node.nodes) {
            for (x in node.nodes) {
                var obj = node.nodes[x] ;
                if( !obj.state.disabled){
                    ts.push(obj.nodeId);
				}
                if (node.nodes[x].nodes) {
                    var getNodeDieDai = getChildNodeIdArr(node.nodes[x]);
                    for (j in getNodeDieDai) {
                        ts.push(getNodeDieDai[j]);
                    }
                }
            }
        } else {
            if(  !node.state.disabled){
                ts.push(node.nodeId);
			}
        }
        return ts;
    }





    //---------自定义方法------

    var roleDilog = function(e){
        console.log('roleDilog....');
        var optName = $("#sysRoleId").attr("data-opName") ;
        e.preventDefault();
        var dialog = $("#dialog_role" ).removeClass('hide').dialog({
            modal: true,
            title: "<div class='widget-header widget-header-small'><h4 class='smaller center'>"+optName+"</h4></div>",
            title_html: true,
            buttons: [
                {
                    text: "取消",
                    "class" : "btn btn-minier",
                    click: function() {
                        $( this ).dialog( "close" );
                    }
                },
                {
                    text: "确定",
                    "class" : "btn btn-primary btn-minier",
                    click: function() {
                        $( this ).dialog( "close" );
                        submitRoleOPer();
                    }
                }
            ]
        });
	}

    //加载部门树结构json
    function loadRoleList(callback,url){
        $("#nestable").html("");
        $.ajax({
            url: url,
            success : function (result) {
                if(result.code == '0'){
                    console.log("开始调用回掉方法。。");
                    // aclModuleList =result.data ;
                    callback(result.data) ;
                }else {
                    alert(result.msg);
                }
            },
        })

    }

    /**
     *
     *请求数回掉函数
     */
    var loadListCallback = function(data) {
        console.log("开始执行回掉方法。。");
        var htmlStr =  recursiveRenderSubject(data);

        $("#nestable").html(htmlStr);
        $('.dd').nestable() ;
        initChosen();
    }

    function recursiveRenderSubject(data) {
        var htmlStr = "" ;

        $(data).each(function (i, obj) {
            htmlStr=htmlStr+"<li class='dd-item' data-id='"+obj.id+"'>" +
                "<div class='dd-handle'   onclick='nestTableEvent("+obj.id+",this)'>"+obj.name
                +"<div class='pull-right action-buttons' >" +
                "<a class='blue' href='javascript:void(0)' onclick='editRole("+obj.id+",event)'><i class='ace-icon fa fa-pencil bigger-130'></i> </a>"+
                // "<a class='red' href='javascript:void(0)' onclick='delRole("+obj.id+")'><i class='ace-icon fa fa-trash-o bigger-130'></i></a>"+
                "</div></div></li>"

            roleMap[obj.id] = obj;
        });

        return htmlStr;
    }

    function nestTableEvent(roleid,obj) {
        lastRoleId = roleid ;
        setNestableClass(obj);

        //1、加载treeview数据
        loadRoleAcl();
        //2、加载角色用户列表数据
        loadRoleUser();
    }

    //加载角色权限tree 数据
    function loadRoleAcl() {
        if (lastRoleId == -1) {
            return;
        }
        aclModualData = new Array();

        $.ajax({
            url: "/sys/role/roleTree.json",
            data : {
                roleId: lastRoleId
            },
            type: 'POST',
            success : function (result) {
                if(result.code == '0'){
                     // console.log("权限treeView数据",result.data);
                    recursivePrepareTreeData(result.data,aclModualData);
                    // console.log("解析后的数据：",aclModualData);
                    initTreeView();
                }else {
                    showMessage("加载角色权限数据", result.msg, false);
                }
            },
        })

    }

    function loadRoleUser() {
        if (lastRoleId == -1) {
            return;
        }

        $.ajax({
            url: "/sys/role/users.json",
            data : {
                roleId: lastRoleId
            },
            type: 'POST',
            success : function (result) {
                if(result.code == '0'){
                   // console.log("角色用户..",result.data);
                   var list = result.data ;
                   list.forEach(function (item, index) {
                       // console.log("item..",item);
                       if(item.selected){
						   $("#duallist").append("<option value='"+item.id+"' selected='selected'>"+item.username+"</option>") ;
					   }else{
                           $("#duallist").append("<option value='"+item.id+"' >"+item.username+"</option>") ;
                       }
				   });
                   initDuallistbox();
                }else {
                    showMessage("加载角色用户数据", result.msg, false);
                }
            },
        })


    }

    function  initTreeView() {
        treeViewOptons.data = aclModualData ;
        treeView = $('#treeview-checkable').treeview(treeViewOptons);
    }

    //解析RoleAcl Tree 结构数据
    function recursivePrepareTreeData(aclModuleList,arrayData) {
        if (aclModuleList && aclModuleList.length > 0) {
            $(aclModuleList).each(function(i, aclModule) {

                var hasChecked = false;

				var aclModualObj = new aclModualDataObj(aclModule,modulePrefix);

                //1、处理acl节点数据
                if (aclModule.aclList && aclModule.aclList.length > 0) {
                    $(aclModule.aclList).each(function(i, acl) {
						var aclObj = new AclDataObj(acl,aclPrefix);
                        aclModualObj.nodes.push(aclObj);
                    });
                }
                //2、处理子Modual数据
                if ((aclModule.aclModuleList && aclModule.aclModuleList.length > 0) ||
                    (aclModule.aclList && aclModule.aclList.length > 0)) {
                    recursivePrepareTreeData(aclModule.aclModuleList,aclModualObj.nodes);

                }
                arrayData.push(aclModualObj)

            });
        }

    }



    //修改Role
    function editRole(roleId,e) {
        $("#sysRoleId").attr("data-optype",'update') ;
        $("#sysRoleId").attr("data-opName",'更新角色') ;
        var role = roleMap[roleId];
        $("#sysRoleId").val(roleId) ;
        $("#form-field-rolename").val(role.name);
        if(role.status == 0 ){
            $("#form-field-status").prop("checked",false);
		}else {
            $("#form-field-status").prop("checked","checked")
		}
        $("#form-field-roleremark").val(role.remark);
        roleDilog(e);
    }

    //删除Role
    function delRole(roleId) {


    }

    function getRoleParam() {
		var obj = new Object() ;
        obj.id = $("#sysRoleId").val();
        obj.name = $("#form-field-rolename").val();
        if($("#form-field-status").prop("checked")){
            obj.status = 1 ;
        }else {
            obj.status = 0 ;
        }
        obj.remark = $("#form-field-roleremark").val();
        return obj ;

    }

    function submitRoleOPer() {
        var optype = $("#sysRoleId").attr("data-optype") ;
        var param = getRoleParam();
        $.ajax({
            url: "/sys/role/"+optype+".json",
            type:"POST",
            data:JSON.stringify(param) ,
            contentType: "application/json; charset=utf-8",
            success : function (result) {
                // console.log(result);
                if(result.code == '0'){
                    // location.reload();
                    loadRoleList(loadListCallback , loadRoleListUrl);
                }else {
                    alert(result.msg);
                }
            }
        })

    }





    /*]]>*/
</script>
</body>
</html>
